@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  color: $font-color;
  font-family: $lobster;
}

header {
  background-color: $font-color;
  box-shadow: 0 5px 8px $drop-shadow-color;
}

h1, .account-message {
  color: $tile-color;
}

h2 {
  display: flex;
  font-size: 13vw;
  justify-content: center;
  text-shadow: -5px 5px 8px $drop-shadow-color;
}

h3 {
  display: flex;
  font-size: 8vw;
  justify-content: center;
  margin-top: 50px;
  text-shadow: -5px 5px 8px $drop-shadow-color;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  height: 50vw;
  padding: 2vw;
}

.container {
  background-color: $font-color;
  border-radius: 12px;
  height: 50vw;
  max-width: 50vw;
  box-shadow: -5px 5px 8px $drop-shadow-color;
}

.inactive {
  pointer-events: none;
}

.cell {
  background-color: $tile-color;
  border-radius: 12px;
  height: 15vw;
}

.cell:hover {
  background-color: $pink;
}

.occupied:active {
  animation: shake 0.5s;
}

// #sign-up {
//   background-color: $tile-color;
//   color: $font-color;
// }

#user-turn, #move-message, #display-games {
  font-size: 3.5vw;
  margin-left: 30px;
  text-shadow: -5px 5px 8px $drop-shadow-color;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 500px) {

  .container {
    background-color: $font-color;
    border-radius: 12px;
    height: 65vw;
    max-width: 80vw;
    box-shadow: -5px 5px 8px $drop-shadow-color;
  }

  .cell {
    background-color: $tile-color;
    border-radius: 12px;
    height: 20vw;
  }

  #user-turn, #move-message, #display-games {
    font-size: 5.5vw;
    margin-left: 30px;
    text-shadow: -5px 5px 8px $drop-shadow-color;
  }

  h3 {
    display: flex;
    font-size: 9vw;
    justify-content: center;
    margin-top: 50px;
    text-shadow: -5px 5px 8px $drop-shadow-color;
  }

}
