@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  color: $font-color;
  font-family: $lobster;
}

.grid {
  background-color: $game-board-background-color;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 75%;
}

.inactive {
  pointer-events: none;
}

.cell {
  background-color: $tile-color;
  border: $game-border-color 5px;
  border-radius: 12px;
  flex: 0 0 32%;
  height: 100px;
  margin: 5px;
}
