$lobster: 'Lobster', cursive;

$black: #000;
$white: #fff;
$red: #a83244;
$green: #0f0;
$blue: #00f;
$teal: #32a6a8;
$pink: #e8b7bf;

$game-border-color: $black;
$game-board-background-color: $teal;
$tile-color: $white;
$font-color: $red;
$header-color: $pink;
