$lobster: 'Lobster', cursive;

$black: #000;
$white: #fff;
$grey: #808080;
$red: #a83244;
$pink: #e8b7bf;
$green: #38804b;

$dark-shadow-color: $black;
$tile-color: $white;
$drop-shadow-color: $grey;
$font-color: $red;
$header-color: $pink;
$secondary-color: $green;
